body .btn-primary, 
body .btn-primary:hover {
  background-color: #A8E6CF !important;
  border-color: #A8E6CF !important;
  color: #333 !important;
}

body .badge-secondary {
  background-color: #D6C8E7 !important;
  color: #333 !important;
}

body pre, 
body code {
  background-color: #FFD3B6 !important;
  color: #333 !important;
}

body {
  background-color: #fdfdfd;
}
